name: Deploy no Vercel

on: 
  push: 
    branches: 
      - imsi-action
      
env: 
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID}}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID}}



jobs: 
  Deploy-Prodution:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@v4

       - name: Setup Node
         uses: actions/setup-node@v4
         with:
          node-version: '18'

       - name: Install Vercel CLT
         run: npm install -g vercel@latest

       - name: Pull Vercel Envirolment
         run: vercel pull --yes --environment=production --token=${{secrets.VERCEL_TOKEN}}

       - name: Build Artifacts
         run: vercel build --prod --token=${{secrets.VERCEL_TOKEN}}

       - name: Deploy
         run: vercel deploy --prebuilt --prod --token=${{secrets.VERCEL_TOKEN}}
